#first {
    border: 2px dotted black;
    padding: 20px;
    background: LightBlue;
    background-clip: padding-box;
}
#second {
    border: 2px dotted black;
    padding: 20px;
    background: LightBlue;
    background-clip: content-box;
}

#third {
    background-image: url("http://www.sololearn.com/uploads/css_logo.png");
    background-clip: content-box;
    border: 2px dotted black;
    padding: 20px;
}