div.first {
    float: left;
    width: 300px; 
    height: 100px;
    margin: 4px;
    color: #FFF;
    background: -webkit-linear-gradient(bottom left, blue, green, white);
    background: -moz-linear-gradient(bottom left, blue, green, white);
    background: -ms-linear-gradient(bottom left, blue, green, white);
}
div.second {
    float: left;
    width: 300px; 
    height: 100px;
    margin: 4px;
    background: -webkit-linear-gradient(100deg, blue, green, white);
    background: -moz-linear-gradient(100deg, blue, green, white);
    background: -ms-linear-gradient(100deg, blue, green, white);
}