p{
    color: white;
    background-color: gray;
    font-size:130%;
}

#intro{
    color: black;
    background-color: yellow;
    font-size:150%;
}

body{
    background-color:#EEEEEE;
    font-family: 'Segoe UI';
}

.first{
    font-size: 200%;
}

em{
    color: darkgreen
}