.blue { 
    background-color: #8EC4D0;
    margin-bottom: 15px;
    width: 120px;
    height: 120px;
    color: #FFF;
    z-index: 1;
    position: relative;
}
.red {
    background-color: #FF4D4D;
    position: relative;
    width: 120px;
    height: 120px;
    color: #FFF;
    z-index: 0;
    margin-top: -50px;
    margin-left: 50px;
}